body {
  background-attachment: fixed;
  background-color: $black;
  background-image: url('https://www.r5.ro/2020/galaxy.jpg');
  background-position: center center;
  background-repeat: repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
}

* {
  color: $white;
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  letter-spacing: 0.02em;
}

$pt: 0.75px;

.container {
  display: flex;
  flex-direction: column;
}

.row {
  align-content: center;
  align-items: center;
  align-self: center;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: $break-xlarge;
  padding: 0 2em;
  width: 100%;

  @media (min-width: $break-medium + 1px) {
    flex-direction: row;
  }

  &.section-head {
    background: transparent;
    text-align: center;

    h2 {
      align-content: center;
      align-items: center;
      display: flex;
      font-size: 60px;
      letter-spacing: 0.1em;
      margin: 0;
      padding: 1.2em 0;
      text-shadow: 0 0 8px $white;
      width: 100%;

      > * {
        display: block;
      }

      > amp-img {
        margin: -150px auto;
        width: 300px;

        @media (max-width: $break-medium - 1px) {
          display: none;
        }

        &:last-of-type {
          transform: scaleX(-1);
        }
      }

      > span {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        margin: auto -300px;

        @media (max-width: $break-large + 200px) {
          margin: auto -18vw;
        }
      }

      @media (max-width: $break-medium - 1px) {
        > amp-img {
          display: none;
        }

        > span {
          margin: auto;
        }
      }
    }
  }
}

@media (max-width: $break-xlarge) {
  .row {
    max-width: calc(100% - 64px);
  }
}

.col {
  display: inline-block;
  flex: 0 1 auto;

  @media (min-width: $break-medium + 1px) {
    flex: 1;
  }

  > div {
    display: flex;
    flex-direction: column;
    margin-left: $general-column-gap;
    margin-right: $general-column-gap;
  }

  &.double {
    @media (min-width: $break-medium + 1px) {
      flex: 2;
    }
  }

  &.triple {
    @media (min-width: $break-medium + 1px) {
      flex: 3;
    }
  }

  &.x4 {
    @media (min-width: $break-medium + 1px) {
      flex: 4;
    }
  }

  &.x5 {
    @media (min-width: $break-medium + 1px) {
      flex: 5;
    }
  }
}

hr {
  background: linear-gradient(to right, transparent 0%, $white 50%, transparent 100%);
  border: 0;
  display: block;
  height: 1px;
  margin: 1em 0;
  opacity: 80 * $percent;
  padding: 0;
}

p {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}

main {
  margin-bottom: 2.2em;
}

amp-img {
  background-color: transparent;
  pointer-events: none;
}
